
.App {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: green; */
}

.toggleContainer{
  border: 1px solid gray;
  width: fit-content;
  padding: 0.2rem 0.2rem;
  margin: 1rem 0;
}

.toggleText {
  color: black;
  padding: 0.3rem;
}

.activeText{
  color: red;
}

@media (min-width: 640px) {
  .App {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

